
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins" />

<body>

    <!-- NavBar -->
    <div class="nav-container">
        <div class="wrapper">
            <nav>
                <div class="logo">
                    <img src="./assets/logoRegenerate.svg" alt="Regenerate logo">
                    EGENERATE
                </div>

                <ul class="nav-items">
                    <li>
                        <img src="./assets/penIcon.svg" alt="White pencil icon">
                        <a href="#">Prenotazioni</a>
                    </li>
                    <li>
                        <img src="./assets/medalIcon.svg" alt="White medal icon">
                        <a href="#">I nostri medici</a>
                    </li>
                    <li>
                        <img src="./assets/usersIcon.svg" alt="White people icon">
                        <a href="#">Chi siamo</a>
                    </li>
                    <li>
                        <img src="./assets/phoneIcon.svg" alt="White phone icon">
                        <a href="#">Contatti</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

</body>
