
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400&display=swap" rel="stylesheet">

<html>
<!--- calendar --->
<div class="calendar">
    <div class="month">
        <div class="prev">&#10094;</div>
        <div class="next">&#10095;</div>
        <div class="month-name"></div>
        <div class="year"></div>
    </div>

    <div class="weekdays">
        <div>Lun</div>
        <div>Mar</div>
        <div>Mer</div>
        <div>Gio</div>
        <div>Ven</div>
        <div>Sab</div>
        <div>Dom</div>
    </div>

    <div class="days"></div>
</div>

<!--- side list --->
    <div class ="side-list">
        <ul class="dropdown-menu dropdown-menu-macos mx-0 shadow" style="width: 220px;">
        <li><a class="dropdown-item active" href="#">Reparto</a></li>
        <li><a class="dropdown-item" href="#">Medico</a></li>
        <li><a class="dropdown-item" href="#">Tipo di visita</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Orario</a></li>
      </ul></div>

</html>