<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400&display=swap" rel="stylesheet">

<html>
<!--- calendar --->
<div class="calendar">
    
    <div class="month">
        <div class="prev">&#10094;</div>
        <div class="next">&#10095;</div>
        <div class="month-name"></div>
        <div class="day"></div>
        <div class="year"></div>
    </div>

    <div class="bar">
        <div> </div>
        <div> </div>
        <div> </div>
        <div>Mattina</div>
        <div> </div>
        <div> </div>
        <div> </div>
    </div>

    <div class="hour">
        <div class="8.00">08.00 </div>
        <div class="8.30">08.30</div>
        <div class="9.00">09.00</div>
        <div class="9.30">09.30</div>
        <div class="10.00">10.00</div>
        <div class="10.30">10.30</div>
        <div class="11.00">11.00</div>
    </div>

    <div class="bar">
        <div> </div>
        <div> </div>
        <div> </div>
        <div>Pomeriggio</div>
        <div> </div>
        <div> </div>
        <div> </div>
    </div>

    <div class="hour">
        <div class="13.00">13.00 </div>
        <div class="13.30">13.30</div>
        <div class="14.00">14.00</div>
        <div class="14.30">14.30</div>
        <div class="15.00">15.00</div>
        <div class="15.30">15.30</div>
        <div class="16.00">16.00</div>
    </div>

</div>

<!--- side list --->
<div class="side-list">
    <ul class="dropdown-menu dropdown-menu-macos mx-0 shadow" style="width: 220px;">
        <li><a class="dropdown-item active" href="#">Reparto</a></li>
        <li><a class="dropdown-item" href="#">Medico</a></li>
        <li><a class="dropdown-item" href="#">Tipo di visita</a></li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="#">Orario</a></li>
    </ul>
</div>

</html>