      /*    calendar    */

      .calendar {
        /*position: absolute;*/
        width: 491.59px;
        height: 351px;

        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 16.2241px;
      }

      body {
        font-family: 'Source Sans Pro', sans-serif;
      }

      /* Month header */
      .month {
        padding: 20px 25px;
        width: 100%;

        background: #FFFFFF;
        text-align: center;
        border-radius: 16.2241px;
      }

      /* Month and year list */
      .month div {
        margin: 0;
        padding: 0;
      }

      .month div {
        color: black;
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: 3px;
      }


      .year {
        margin: 0;
        padding: 10px 0;
      }

      .year div {
        color: black;
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: 3px;
      }

      .day {
        margin: 0;
        padding: 10px 0;
      }

      .day div {
        color: black;
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: 3px;
      }

      /* Previous button inside month header */
      .month .prev {
        float: left;
        padding-top: 25px;
      }

      /* Next button */
      .month .next {
        float: right;
        padding-top: 25px;
      }

      /* bar */
      .bar {
        margin: 0;
        padding: 10px 0;
        background-color: #8E81DD;
      }

      .bar div {
        margin-left: 3px;
        display: inline-block;
        width: 13.6%;
        color: #FFFFFF;
        text-align: center;
      }

      /* hours */
      .hours {
        padding: 10px 0;
        background: #FFFFFF;
        margin: 0;
        border-radius: 16.2241px;

      }

      .hour div {
        list-style-type: none;
        display: inline-block;
        width: 13.6%;
        text-align: center;
        margin-top: 15px;
        margin-bottom: 20px;
        margin-left: 3px;
        font-size: 20px;
        color: rgb(0, 0, 0);
        background: #93FA91;
        border-radius: 16.2241px;
        transition: background-color 0.2s;
      }

      /* Highlight the "current" day */
      .hour div .active {
        padding: 5px;
        background: #93FA91;
        color: white !important
      }


      .hour div:hover {
        background-color: rgb(215, 179, 231);
        border-radius: 16.2241px;
      }

      /* Side List */
      
      .side-list {
        /*position: absolute;*/
        width: 491.59px;
        height: 351px;


        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 16.2241px;
      }

      .dropstart {
        padding: 20px 25px;
        width: 100%;
        background: #FFFFFF;
        text-align: center;
        border-radius: 16.2241px;
      }

      .dropstart div {
        margin: 0;
        padding: 0;
      }

      /* dropdown menu */

      .dropdown-toggle {
        background: #8E81DD;
        border-color: #8E81DD;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 16.2241px;

        text-align: center;
        font-size: 20px;
        text-align: center;
        letter-spacing: 2px;
      }

      .dropdown-toggle:hover {
        background: #7263d3;
        border-color: #7263d3;
      }

      /* left dropdown menu */

      .dropdown-menu {
        border-radius: 16.2241px;
        padding: 20px 25px;
        font-size: 20px;
        text-align: center;
        text-align: center;
      }

      .dropdown-item:hover {
        border-radius: 16.2241px;
        background: #e1dff1;
        border-color: #e1dff1;
      }

      /* button submit */
      .submit {
        background: #93FA91;
        border-color: #93FA91;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 16.2241px;

        text-align: center;
        font-size: 20px;
        text-align: center;
        color: rgb(25, 70, 25);
        letter-spacing: 2px;
      }

      .submit:hover {
        background: #25e921;
        border-color: #25e921;
      }

      /* disbled the button submit  */
      .disabled {
        background: #71b364 !important;
        border-color: #71b364 !important;
      }



      /* Class that will apply to clicked hours to show which hour the user has clicked and selected */
      .selectedHour {
        background-color: violet !important;
      }

      /* Class used to color dates that a user can NOT choose in reservation component, in the calendar */
      .closeDay {
        background: rgb(255, 97, 97) !important;
        transition: 300ms;
        pointer-events: none;
      }

      /*This way i can center divs at the center of my screen*/
      .flex-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 0px;
      }
      
      .invisible{
        width: 491.59px;
        height: 100px;
      }