<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400&display=swap" rel="stylesheet">

<html>
<!--- calendar --->
<div class="calendar">
    
    <div class="month">
        <div class="prev" style="cursor: pointer;">&#10094;</div>
        <div class="next" style="cursor: pointer;">&#10095;</div>
        <div class="month-name"></div>
        <div class="day"></div>
        <div class="year"></div>
    </div>

    <div class="bar">
        <div> </div>
        <div> </div>
        <div> </div>
        <div>Mattina</div>
        <div> </div>
        <div> </div>
        <div> </div>
    </div>

    <div class="hour" style="cursor: pointer;" id="morningHours">
        <div class="8.00" (click)="onClickHours('morningHour1')" id="morningHour1">08.00</div>
        <div class="8.30" (click)="onClickHours('morningHour2')" id="morningHour2">08.30</div>
        <div class="9.00" (click)="onClickHours('morningHour3')" id="morningHour3">09.00</div>
        <div class="9.30" (click)="onClickHours('morningHour4')" id="morningHour4">09.30</div>
        <div class="10.00" (click)="onClickHours('morningHour5')" id="morningHour5">10.00</div>
        <div class="10.30" (click)="onClickHours('morningHour6')" id="morningHour6">10.30</div>
        <div class="11.00" (click)="onClickHours('morningHour7')" id="morningHour7">11.00</div>
    </div>

    <div class="bar">
        <div> </div>
        <div> </div>
        <div> </div>
        <div>Pomeriggio</div>
        <div> </div>
        <div> </div>
        <div> </div>
    </div>

    <div class="hour" style="cursor: pointer;" id="afternoonHours">
        <div class="13.00" (click)="onClickHours('morningHour8')" id="morningHour8">13.00 </div>
        <div class="13.30" (click)="onClickHours('morningHour9')" id="morningHour9">13.30</div>
        <div class="14.00" (click)="onClickHours('morningHour10')" id="morningHour10">14.00</div>
        <div class="14.30" (click)="onClickHours('morningHour11')" id="morningHour11">14.30</div>
        <div class="15.00" (click)="onClickHours('morningHour12')" id="morningHour12">15.00</div>
        <div class="15.30" (click)="onClickHours('morningHour13')" id="morningHour13">15.30</div>
        <div class="16.00" (click)="onClickHours('morningHour14')" id="morningHour14">16.00</div>
    </div>

</div>

<!--- side list --->
<div class="side-list">
    <ul class="dropdown-menu dropdown-menu-macos mx-0 shadow" style="width: 220px;">
        <li><a class="dropdown-item active" href="#">Reparto</a></li>
        <li><a class="dropdown-item" href="#">Medico</a></li>
        <li><a class="dropdown-item" href="#">Tipo di visita</a></li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="#">Orario</a></li>
    </ul>
</div>

</html>