/* Importing "Inter" font*/
@import url('https://fonts.google.com/specimen/Inter#standard-styles');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background: url('./assets/clinic_bgImage.jpg') no-repeat center center fixed;
    background-size: cover;
}

/* NavBar styling */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

/* "EGENERATE" title styling */
.nav-container {
    font-family: 'Inter', sans-serif;
    font-size: 28.6144px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    text-align: center;
    color: #ffffff;
}

.nav-container a{
    text-decoration: none;
    color: #ffffff;
}

.nav-container ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}


.nav-container {
    background: #8E81DD;
}


.nav-items a{
    padding: 0px 50px;
    align-items: center;
    /*Vertically align icons with text link*/
    display: flex;
    align-items: center;
}

.logo a{
    margin-left: 30px;
    display: flex;
    align-items: center;
}



/* Mobile resolution*/

@media (max-width:800px){
    .nav-container {
        width: 100%;
    }

    .nav-items ul{
        display: block;
        width: 100%;
        height: 100vh;
    }
}
